@font-face {
    font-family: myFirstFont;
    src: url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap);
}

.logo{
    width: 120px;
}

.logo-right{
    font-size: 0.9rem;
}

.navbar-nav{
    width: 100%;
}

.nav-item{
    width: 100%;
}

.nav-link{
    color: black !important;
}